@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin-top: 19px;
    /*margin-bottom: 78px;*/
}
.logo img{
    width: 91.7px;
    height: 62px;
}
nav{
    display: flex;
    gap: 15px;
    align-items: flex-end;
}
.link{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.w_block{
    width: 100%;
    height: calc(100vh - 62px - 19px);
    background: url("../img/Datavizer.svg") no-repeat;
    background-size: cover;
    background-position: bottom;
}
.w_block .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(0, 15%);
    opacity: 0;
    transition: .8s linear;
    display: flex;
    height: 170px;
    justify-content: center;
    align-content: center;
    gap: 25px;
}
.title.active{
     transform: translate(0, 0);
     opacity: 1;
}
.subtitle{
    color: #000;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
    transform: translate(0, -15%);
    opacity: 0;
    transition: .8s linear;
}
.subtitle.active{
    transform: translate(0, 0);
    opacity: 1;
}
.btn{
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: background-color .3s linear;
    padding: 17px 60px;
    border-radius: 100px;
}
.btn:hover{
    background: #000;
    color: #fff;
}
.block_title{
    color: #000;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(0, -15%);
    opacity: 0;
    transition: .8s linear;
    position: relative;
    margin-bottom: 10px;
}
.block_title:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 250px;
    background: rgba(255, 197, 11, 0.75);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.block_title.active{
    opacity: 1;
    transform: translate(0, 0);
}
.block_text{
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(0, 15%);
    opacity: 0;
}
.block_text.active{
    opacity: 1;
    transform: translate(0, 0);
}
.about{
    transform: translate(0, -15%);
    opacity: 0;
    transition: .8s linear;
}
.about.active{
    transform: translate(0, 0);
    opacity: 1;
}
.about_wrapper .block_text{
    width: 900px;
    margin: 24px auto 0;
    overflow: hidden;
    height: 68px;
}
.about_wrapper{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 19px 0 40px;
}
.about .btn{
    display: block;
    text-align: center;
    width: max-content;
    background: #fff;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    cursor: pointer;
}
.about .btn:hover{
    background: #000;
}
#about_hidden{
    display: none;
}
#about_hidden:checked ~ .about_wrapper .block_text{
    height: max-content;
    transition: height .5s linear;
}
.presentation{
    margin-top: 50px;
}
.slider-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    overflow-x: scroll;
    cursor: pointer;
    user-select: none;
    scrollbar-width: none;
}
.slider-items::-webkit-scrollbar {
    display: none;
}
.slider-item {
    min-width: 750px;
    height: 450px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    color: #fff;
}

.faq{
    margin-top: 76px;
    box-shadow: 0 0 25px rgba(255, 197, 11, 0.75);
    padding: 25px;
}
.questions{
    padding: 24px 0;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.question_block{
    display: grid;
    grid-template-areas: "num que" "ans ans";
    grid-column-gap: 55px;
    grid-template-columns: 1em auto;
    transform: translate(0, 15%);
    opacity: 0;
    transition: .8s linear;
}
.question_block.active{
    opacity: 1;
    transform: translate(0, 0);
}
.number{
    grid-area: num;
    color: rgba(0, 0, 0, 0.50);
    font-family: "DM Sans", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: max-content;
}
.question{
    grid-area: que;
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: end;
}
.answer{
    grid-area: ans;
    color: rgba(0, 0, 0, 0.85);
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.team{
    margin-top: 60px;
}
.team .container{
    width: 1000px;
}
.teams_card{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.person{
    width: max-content;
    height: 330px;
    padding: 35px 45px;
    border-radius: 10px;
    border: 2px solid #00000033;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translate(0, -15%);
    opacity: 0;
    transition: .2s linear;
}
.person:hover{
    border: 2px solid rgba(255, 197, 11, 0.75);
    box-shadow: 0 0 10px rgba(255, 197, 11, 0.75);
}
.person.active{
    opacity: 1;
    transform: translate(0, 0);
}
.avatars{
    width: 125px;
    height: 125px;
    margin: 0 auto 29px;
    background: #848484;
    border-radius: 50%;
}
.person_name{
    color: #000;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
.person_position{
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    max-width: 175px;
}
.contact,
.service_package,
.about{
    margin-top: 60px;
}
.info{
    color: rgba(0, 0, 0, 0.75);
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 25px;
}
.packages{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.package{
    border:1px solid rgba(0, 0, 0, 0.2);
    padding: 56px 70px;
    border-radius: 10px;
    width: 370px;
    transform: translate(15%, 0);
    opacity: 0;
    transition: .6s linear;
    display: grid;
    grid-template-areas: "text""btn";
    grid-template-rows: auto 86px;
}
.package.active{
    transform: translate(0, 0);
    opacity: 1;
}
ul{
    margin-top: 44px;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    grid-area: text;
}
li span{
    display: flex;
    justify-content: start;
    font-size: 18px;
}
.package_text{
    display: flex;
    gap: 22px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    grid-area: text;
}
.package_title{
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-left: 15px;
}
.default{
    border-left: 3px solid #ffc50b;
}
.expanded{
    border-left: 3px solid red;
}
.premium{
    border-left: 3px solid cyan;
}
.package_btn{
    display: block;
    padding: 17px 60px;
    margin: 30px auto 0;
    border-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    grid-area: btn;
}
footer{
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 10px auto;
    font-size: 24px;
}
.footer_logo img{
    width: 91.7px;
    height: 62px;
}
.links{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
.links a{
    font-size: 16px;
}
.footer_up,
.footer_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}
.footer_down{
    border-top: 1px solid rgba(0, 0, 0, 0.75);
}